@value inputDataFieldWidth from './DataFileInput.module.scss';

.preview__container {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.preview__area {
  margin-top: 2rem;
  width: inputDataFieldWidth;
  height: 50rem;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  resize: none;
}
