*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
  color: #454141;
}

h1 {
  font-size: 6.2rem;
  margin: 1.5rem 0 3rem 0;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  padding: 1rem;
  background: url('../src/images/background.jpg') no-repeat center center
    fixed;
  background-size: cover;
  box-shadow: 0 0 4rem 6rem #797979;
}

body {
  height: 100%;
  min-width: 32rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'Fira Code', serif;
  font-style: oblique;
  background: rgb(192, 209, 238);
}

#root {
  position: relative;
  height: 100%;
  min-height: 100vh;
}
